extends layout.pug
block styles
    link(rel='stylesheet', type='text/css', href='/styles/auth.css')
block scripts
    script(src='https://secure.aadcdn.microsoftonline-p.com/lib/1.0.13/js/adal.min.js')
    script(src='/scripts/auth-end.js')