extends layout.pug
block styles
    link(rel='stylesheet', type='text/css', href='/styles/leaderboard.css')
block scripts
    script(src='/scripts/leaderboard.js')

block content
    p
        div#leaderboardtitle loading...
        div#leaderboard loading...
    p
        div#tcontext loading...
